node_modules
dist
dist-ssr
*.local
coverage
public
src/assets
src/test
.nyc_output

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
